DB_HOST=db
DB_PORT=3306
DB_USER=local_user
DB_PASSWORD=local_password
DB_DATABASE=pet-backend
DB_ROOT_PASSWORD=local_root_password

JWT_SECRET=c946fd97-7256-4234-93fa-df05e20a665a

SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=
SMTP_FROM="PetShop <no-reply@matheuscamilotto.dev.br>"
